SECRET_KEY= django-SECRET_KEY
DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://127.0.0.1,https://localhost


DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=your-password
DATABASE_HOST=your-host
DATABASE_PORT=5432
# check